@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  transition:
    background-color 0.4s ease,
    color 0.4s ease;
}

.dark body {
  background: #030712;
  color: white;
}

.light body {
  background: #f5f7ff;
  color: black;
}