@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

input,
button,
textarea,
select {
  outline: none;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: rgba(99, 102, 241, 0.4);
  border-radius: 999px;
}

::-webkit-scrollbar-track {
  background: transparent;
}